/* Load Font */
@import url("https://use.typekit.net/wwx8pph.css");

/* Color, font for h1 and p */
.color_text{
    text-decoration: none;
    color: #ffffff;
}

.header {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-top: 0px;
}
/* --- */

/* Delete underline for link and color white for h1 */
#no_deco_h1 {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

/* Delete underline for link and color gold for h2 */
#no_deco_h2 {
    text-decoration: none;
    color: #dab040;
    font-weight: 400;
}

/* Heading h1 and logo and same line */
.header img {
    float: left;
    width: 250px;
    /* height: 100px; */
}
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    bottom: 0px;
    font-size: 6em;
}

.header h2 {
    position: relative;
    left: 10px;
    top: 0px;
    font-size: 4em;
}
/* --- */


body {
    background-color: #262626;
}

main {
    margin-top: 150px;
}

main p {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}


h1 {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-family: 'Inter', sans-serif;
}

/* For old button blackpearl */
main p .button_blackpearl{
    color: #262626;
    background-color: #ffefc5;
    transition: 1s;
}

main p .button_blackpearl:hover, main p .button_blackpearl:focus {
    background-color: #262626;
    color: #ffefc5;
}

.button_blackpearl {
    text-decoration: none;
    color: #262626; 
}
/* --- */

/* For "Voir la carte" button blackpearl v2 */
.div_resa_carte {
    margin-top: 100px;
    text-decoration: none;
    font-weight: 600;
    font-size: 70px;
    color: #262626;
    background-color: #dab040;
    border-radius: 27px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 0,5px;
    padding-bottom: 0,5px;
}

.button_carte_resa_div {
    color: #262626;
    text-decoration: none;
    font-size: 65px;
}

.button_carte {
    text-decoration: none;
    font-weight: 600;
    font-size: 70px;
    padding: 4px 7px;
    color: #262626;
    background-color: #dab040;
    border-radius: 27px;
}

.button_carte_resa {
    text-decoration: none;
    font-weight: 600;
    font-size: 65px;
    padding: 4px 7px;
    color: #262626;
    background-color: #dab040;
    border-radius: 27px;
}

.button_carte_mail {
    text-decoration: none;
    font-weight: 600;
    font-size: 60px;
    padding: 4px 130px;
    color: #262626;
    background-color: #dab040;
    border-radius: 27px;

}

.button_carte_mail_contact {
    text-decoration: none;
    font-weight: 600;
    font-size: 70px;
    padding: 4px 137px;
    color: #262626;
    background-color: #dab040;
    border-radius: 27px;
}

/* For "Instagram" button blackpearl v2 */
.button_insta {
    text-decoration: none;
    font-weight: 600;
    font-size: 70px;
    padding: 4px 40px;
    color: white;
    background: linear-gradient(70deg, #8134AF, #DD2A7B);
    border-radius: 27px;
}

.button_tel {
    text-decoration: none;
    font-weight: 600;
    font-size: 70px;
    padding: 4px 20px;
    color: white;
    background: #0C63D4;
    border-radius: 27px;
}

/* For "Facebook" button blackpearl v2 */
.button_fb {
    text-decoration: none;
    font-weight: 600;
    font-size: 70px;
    padding: 4px 40px;
    color: white;
    background-color: #1877F2;
    border-radius: 27px;
}

#carte_google {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin {
    margin-top: 130px;
}

/* css 2 lignes footer */
/* footer {
    padding-top: 500px;
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: #ffefc5;
}

footer p {
    margin-bottom: 0px;
    line-height: 15px;
}

.last_line_footer {
    font-size: 10px;
} */

/* css for text on the top of the google maps integration */
.text_top_map {
    float: none;
    margin-top: 100px;
    margin-bottom: 100px;
    font-weight: 300;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
}

#first_p_text_top_map {
    font-size: 42px;
    margin-bottom: 40px;
}

#between_first_second_text {
    margin-top: 100px;
}

#second_p_text_top_map {
    float: none;
    font-size: 25px;
    margin-bottom: 3px;
}

hr {
    width: 40%;
    color: #d5d5d5;
    background-color: #d5d5d5;
    height: 1px;
}

/* Footer Fond blanc */
.footer_index {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.a_frst_line {
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.footer_index_un {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 350px;
}
/* --------------- */

/* CSS MENTIONS LEGALES */
.mentions {
    margin-left: 60px;
    color: #ffffff;
}

.h1_mentions_legales {
    font-size: 70px;
    margin-bottom: 100px;
    color: #dab040;
}

.h2_mentions {
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 100px;
}

.h3_mentions {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    color: #BFD7EA;
}

.h3_mentions a {
    text-decoration: underline;
    color: #BFD7EA;
}

.last_h {
    margin-bottom: 100px;
}